<?xml version="1.0"?>
<robot name="rm2_sim" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rm2_simulation)/urdf/rm2_leg.xacro" />
  <xacro:include
    filename="$(find rm2_simulation)/urdf/rm2_screw_actuator.xacro" />
  <xacro:include
    filename="$(find rm2_simulation)/urdf/rm2_wheel_actuator.xacro" />
  <xacro:include
    filename="$(find rm2_simulation)/urdf/rm2.gazebo" />
  <xacro:include
    filename="$(find rm2_simulation)/urdf/sensors.xacro" />

  <link name="base_link">
    <pose>0 0 0 0 0 0</pose>
    <inertial>
      <mass value="1.114" />
      <inertia ixx="0.00773" ixy="0" ixz="0" iyy="0.00937" iyz="0"
        izz="0.00938" />
    </inertial>
    <collision name='collision_base'>
      <geometry>
        <mesh filename="file://$(find rm2_simulation)/urdf/meshes/body_collision.stl"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <visual name='visual_base'>
      <geometry>
        <mesh filename="file://$(find rm2_simulation)/urdf/meshes/body_structure_blue.dae" />
      </geometry>
    </visual>
  </link>


  <link name="AttachableLink_1">
    <inertial>
      <mass value="1.114" />
      <inertia ixx="0.00773" ixy="0" ixz="0" iyy="0.00937" iyz="0"
        izz="0.00938" />
    </inertial>
    </link>
  <joint name="att_rm2" type="fixed">
    <parent link="base_link"/>
    <child link="AttachableLink_1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>


  <gazebo reference="base_link">
  <sensor name='sensor_contact' type='contact'>
    <contact>
      <collision>collision_base</collision>
    </contact>
  </sensor>
  </gazebo>

  <!-- =================================================================================== -->
  <!-- |                                          LEGS                                   | -->
  <!-- =================================================================================== -->

  <!-- JOINT BODY - SIMPLE LEG 1 -->
  <joint
    name="j_b_l1" type="fixed">
    <origin xyz="0.083 0 0.075" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="l1_lLink" />
  </joint>

  <!-- INCLUDE SIMPLE LEG 1 -->
  <xacro:simple_leg name="l1" origin_xyz="-0.0822 0 0.0105"
    origin_rpy="0 0 0" />

  <!-- JOINT BODY - SIMPLE LEG 2 (LEFT)-->
  <joint name="j_b_l2" type="fixed">
    <origin xyz="0.083 0.065 -0.0375" rpy="-2.0944 0 0" />
    <parent link="base_link" />
    <child link="l2_lLink" />
  </joint>

  <!-- INCLUDE SIMPLE LEG 2 (LEFT)-->
  <xacro:simple_leg name="l2" origin_xyz="-0.0822 0 0.0105"
    origin_rpy="-0.523599 0 0" />

  <!-- JOINT BODY - SIMPLE LEG 3 (RIGHT)-->
  <joint name="j_b_l3" type="fixed">
    <origin xyz="0.083 -0.065 -0.0375" rpy="2.0944 0 0" />
    <parent link="base_link" />
    <child link="l3_lLink" />
  </joint>

  <!-- INCLUDE SIMPLE LEG 3 (RIGHT)-->
  <xacro:simple_leg name="l3" origin_xyz="-0.0822 0 0.0105"
    origin_rpy="0.523599 0 0" />


  <!-- =================================================================================== -->
  <!-- |                                      ACTUATORS                                  | -->
  <!-- =================================================================================== -->


  <!-- INCLUDE SCREW ACTUATOR 1 -->
  <xacro:screw_actuator name="sa1" origin_xyz="-0.0045 -0.024 0.0107"
    origin_rpy="0 0 0" />

  <!-- JOINT SIMPLE LEG 1 - SCREW ACTUATOR -->
  <joint name="j_l1_sa1" type="fixed">
    <origin xyz="-0.0127 0.005 0.092" rpy="0 0 0" />
    <parent link="l1_fLink" />
    <child link="sa1_aLink" />
  </joint>

  <!-- INCLUDE SCREW ACTUATOR 2 -->
  <xacro:screw_actuator name="sa2"
    origin_xyz="-0.0045 -0.024 0.0107" origin_rpy="0 0 0" />

  <!-- JOINT SIMPLE LEG 2 - SCREW ACTUATOR -->
  <joint name="j_l1_sa2" type="fixed">
    <origin xyz="-0.0127 0.005 0.092" rpy="0 0 0" />
    <parent link="l2_fLink" />
    <child link="sa2_aLink" />
  </joint>

  <!-- INCLUDE SCREW ACTUATOR 3 -->
  <xacro:screw_actuator name="sa3"
    origin_xyz="-0.0045 -0.024 0.0107" origin_rpy="0 0 3.14159" />

  <!-- JOINT SIMPLE LEG 3 - SCREW ACTUATOR -->
  <joint name="j_l1_sa3"
    type="fixed">
    <origin xyz="-0.0127 0.005 0.092" rpy="0 0 0" />
    <parent link="l3_fLink" />
    <child link="sa3_aLink" />
  </joint>

  <!-- =================================================================================== -->
  <!-- |                                          WHEELS                                 | -->
  <!-- =================================================================================== -->


  <!-- INCLUDE WHEELS ACTUATOR 2 (LEFT) -->
  <xacro:wheel_actuator name="wa2"
    origin_xyz="-0.0045 -0.024 0.0107" origin_rpy="0 1.5708 0" />

  <!-- JOINT SIMPLE LEG 2 - WHEELS ACTUATOR 2 (LEFT) -->
  <joint name="j_l2_wa2" type="fixed">
    <origin xyz="-0.0127 0.005 0.092" rpy="0 0 0" />
    <parent link="l2_fLink" />
    <child link="wa2_aLink" />
  </joint>


  <!-- INCLUDE WHEELS ACTUATOR 3 (LEFT) -->
  <xacro:wheel_actuator name="wa3"
    origin_xyz="-0.0045 -0.024 0.0107" origin_rpy="0 1.5708 0" />

  <!-- JOINT SIMPLE LEG 3 - WHEELS ACTUATOR 3 (LEFT) -->
  <joint name="j_l3_wa3" type="fixed">
    <origin xyz="-0.0127 0.005 0.092" rpy="0 0 0" />
    <parent link="l3_fLink" />
    <child link="wa3_aLink" />
  </joint>

  <!-- =================================================================================== -->
  <!-- |                                          SENSORS                                | -->
  <!-- =================================================================================== -->

  <!-- INCLUDE IMU-->
  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <!-- INCLUDE LASER-->
  <xacro:laser name="lidar" parent="base_link" />

  <gazebo reference="lidar">
    <sensor name="front_lidar" type="gpu_lidar">
      <topic>/laserscan</topic>
      <always_on>true</always_on>
      <visualize>false</visualize>
      <update_rate>10</update_rate>
      <always_on>1</always_on>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.8326</min_angle>
            <max_angle>1.8326</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.05</min>
          <max>20</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
    </sensor>
  </gazebo>

  <!-- INCLUDE CAMERA-->
  <xacro:realsense_camera name="d_435_camera" parent="base_link" />

  <gazebo reference="d_435_camera">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
      <topic>/rgbd_camera</topic>
      <camera>
        <horizontal_fov>1.05</horizontal_fov>
        <image>
          <width>256</width>
          <height>256</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      </sensor>
  </gazebo>



</robot>