<?xml version="1.0"?>
<model>
  <name>RM2 simple motor leg actuator description</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Pedro Soler</name>
    <email>pedrojavier.soler.olivares@alumnos.upm.es</email>
  </author>

  <description>
    RM2 simple motor leg actuator description, it is connected to body
  </description>
</model>
