<?xml version="1.0"?>
<model>
  <name>RM2 simple body description</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Esther Aguado</name>
    <email>e.aguado@upm.es</email>
  </author>

  <description>
    RM2 simple body description, it is connected to 3 legs
  </description>
</model>